@import "tailwindcss";

@font-face {
    font-family: 'OCRF';
    src: url('/fonts/OCRF-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'weezer';
    src: url('/fonts/weezer.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SansSerifFLF';
    src: url('/fonts/SansSerifFLF.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Queens';
    src: url('/fonts/Queens.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QueensItalic';
    src: url('/fonts/QueensItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ocrf: 'OCRF', sans-serif;
  --font-weezer: 'weezer', sans-serif;
  --font-sans-serif-flf: 'SansSerifFLF', sans-serif;
  --font-queens: 'Queens', serif;
  --font-queens-italic: 'Queens Italic', serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


